<!-- templates/share.html -->
<html>
<head><title>Shared Entries</title></head>
<body>
    <center><h2>Shared Entries</h2></center>
    <table border="1" cellpadding="10" cellspacing="0" align="center">
        <tr>
            <th>Name</th><th>Age</th><th>City</th><th>Gender</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.age }}</td>
            <td>{{ entry.city }}</td>
            <td>{{ entry.gender }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>